<ul class="breadcrumb">
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="{% url 'home' %}" itemprop="url"><span itemprop="title">Home</span></a>
        <span class="divider">&rsaquo;</span>
    </li>
    {% if parent %}
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="{% url parent %}" itemprop="url"><span itemprop="title">{{ parentName }}</span></a>
            <span class="divider">&rsaquo;</span>
        </li>
    {% endif %}
    {% block breadcrumb-current %}
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="{{ request.get_full_path }}" itemprop="url"><span itemprop="title">
                {% if currentName %}{{ currentName }}{% else %}{{ object.name }}{% endif %}
                </span></a>
        </li>
    {% endblock %}
</ul>
