{% load url from future %}
{% load bootstrap %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="navbar-container">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <h4><a class="brand" href="{% url 'home' %}">Title</a></h4>
            <nav class="nav-collapse collapse">
                <h2 class="hidden">Main navigation</h2>
                <ul class="nav">
                    {% url 'painting-listview' as url %}
                    <li class="{% active url %}"><a href="{{ url }}">Paintings</a></li>

                    {% url 'artist-listview' as url %}
                    <li class="{% active url %}"><a href="{{ url }}">Artists</a></li>

                    <li class="dropdown {% active '/articles' %}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Articles <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% url 'person-listview' as url %}
                            <li class="{% active url %}"><a href="{{ url }}">People</a></li>

                            {% url 'event-listview' as url %}
                            <li class="{% active url %}"><a href="{{ url }}">Stories</a></li>

                            {% url 'symbol-listview' as url %}
                            <li class="{% active url %}"><a href="{{ url }}">Symbols</a></li>

                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
