{% extends "art/generic-base.html" %}
{% load arttags %}

{% block image %}{{ object.image.url }}{% endblock %}

{% block subheader %}
    {% if object.birth_date or object.death_date or object.start_date or object.end_date %}
        <small>
            <span itemprop="birthDate">{{ object.birth_date }}</span>
            <span itemprop="startDate">{{ object.start_date }}</span>
            {% if object.death_date or object.end_date %}
                {% if object.birth_date or object.start_date %}&mdash;{% endif %}
            {% endif %}
            <span itemprop="deathDate">{{ object.death_date }}</span>
            <span itemprop="endDate">{{ object.end_date }}</span>
        </small>
    {% endif %}
{% endblock %}

{% block before-description %}
    {% for quote in object.quotes.all %}
        {% schema_full quote %}
    {% endfor %}
{% endblock %}

{% block additional-content %}
    {% if object.event_set.all %}
        <aside class="related-events">
            <h4>Stories related to {{ object.name }}</h4>
            <ul>
                {% for event in object.event_set.all %}
                    <li itemprop="performerIn">
                        <a href="{{ event.get_absolute_url }}">{% schema_inline event %}</a>
                    </li>
                {% endfor %}
            </ul>
        </aside>
    {% endif %}

    {% if object.attendees.all %}
        <aside class="related-events">
            <h4>People mentioned in {{ object.name }}</h4>
            <ul>
                {% for attendee in object.attendees.all %}
                    <li itemprop="attendee">
                        <a href="{{ attendee.get_absolute_url }}">{% schema_inline attendee %}</a>
                    </li>
                {% endfor %}
            </ul>
        </aside>
    {% endif %}

    {% if object.painting_set.all %}
        <aside class="related-paintings">
            <h4>Paintings depicting {{ object.name }}</h4>
            <ul>
                {% for painting in object.painting_set.all %}
                    <li>
                        <a href="{{ painting.get_absolute_url }}">{% schema_thumb painting %}</a>
                    </li>
                {% endfor %}
            </ul>
        </aside>
    {% endif %}

    {% for event in object.about_events.all %}
        {% schema_aside event "about" %}
    {% endfor %}
    {% for person in object.about_persons.all %}
        {% schema_aside person "about" %}
    {% endfor %}
    {% for symbol in object.mentions_symbols.all %}
        {% schema_aside symbol "mentions" %}
    {% endfor %}

{% endblock %}
