{% load arttags %}
{% load markup %}
<article class="{{ model }} {{ size }} {% if object.image %}with-img{% else %}without-img{% endif %}" itemscope
         itemtype="{{ object.schema }}">
    <header itemprop="name">
        {% block name %}
            <h1>{{ object.name }}</h1>
        {% endblock %}
        {% block subheader %}{% endblock %}
        {% block metadata %}
            <dl class="metadata">
                {% if object.category %}
                    <dt class="genre"><i class="icon-tag"></i><span>Filed under</span></dt>
                    <dd class="genre" itemprop="genre">{{ object.get_category_display }}</dd>
                {% endif %}
                {% if object.author %}
                    <dt class="author"><i class="icon-user"></i><span>By</span></dt>
                    <dd class="author"><a itemprop="creator"
                                          href="{{ object.author.get_absolute_url }}">{% schema_inline object.author %}</a>
                    </dd>
                {% endif %}
                {% if object.content_location %}
                    <dt class="location"><i class="icon-map-marker"></i><span>Location</span></dt>
                    <dd class="location"><a itemprop="contentLocation"
                                            href="{{ object.content_location.get_absolute_url }}">{% schema_inline object.content_location %}</a>
                    </dd>
                {% endif %}

                <dt class="published"><i class="icon-time"></i><span>Added on</span></dt>
                <dd class="published">
                    <time datetime="{{ object.created|date:"Y-m-d" }}">{{ object.created|date:"SHORT_DATE_FORMAT" }}</time>
                </dd>
            </dl>
        {% endblock %}
    </header>

    {% if object.image %}
        <figure>
            <a href="{{ object.get_absolute_url }}" class="component-link">
                <img itemprop="image" src="{% block image %}{% endblock %}" alt="{{ object.name }}"/>
            </a>
        </figure>
    {% else %}
        {% block no-image %}
            <div class="no-image"><i class="icon {{ icon }}"></i></div>{% endblock %}
    {% endif %}

    {% block before-description %}{% endblock %}

    <div itemprop="description" class="description">
        {% block description %}{{ object.description|markdown }}{% endblock %}
    </div>

    {% block before-additional-content %}{% endblock %}

    <div class="additional">
        {% block additional-content %}
        {% endblock %}
    </div>

    {% block links %}
        <footer>
            <ul class="links">
                <li class="permalink">
                    <a itemprop="url" href="{{ object.get_absolute_url }}">Permalink</a>
                </li>
                <li class="readmore">
                    <a itemprop="url" href="{{ object.get_absolute_url }}">Read more &raquo;</a>
                </li>
            </ul>
        </footer>
    {% endblock %}
</article>
