{% load arttags %}
{% load markup %}
<aside class="{{ model }} {{ size }} {% if object.image %}with-img{% else %}without-img{% endif %}" itemprop="{{ object.itemprop }}" itemscope
         itemtype="{{ object.schema }}">
    <h4>
        <a class="component-link" href="{{ object.get_absolute_url }}">
            <i class="icon {{ icon }}"></i> <span itemprop="name">{{ object.name }}</span>
        </a>
    </h4>

    {% if object.image %}
        <figure>
            <a href="{{ object.get_absolute_url }}" class="component-link">
                <img itemprop="image" src="{{ object.image_summary.url }}" alt="{{ object.name }}"/>
            </a>
        </figure>
    {% endif %}

    <div itemprop="description" class="description">
        {% block description %}{{ object.description|paragraphs:2|markdown }}{% endblock %}
    </div>

    {% block links %}
        <footer>
            <ul class="links">
                <li class="readmore">
                    <a itemprop="url" href="{{ object.get_absolute_url }}">Read more &raquo;</a>
                </li>
            </ul>
        </footer>
    {% endblock %}
</aside>
