{% extends "art/generic-base.html" %}
{% load markup %}
{% load arttags %}

{% block image %}{{ object.image_summary.url }}{% endblock %}
{% block name %}
    <a class="component-link" href="{{ object.get_absolute_url }}">
        <h4>{{ object.name }}</h4>
    </a>
{% endblock %}
{% block description %}{{ object.description|paragraphs:1|markdown }}{% endblock %}
