{% extends "art/generic-full.html" %}
{% block before-additional-content %}
    <h3>What do we see on this painting?</h3>
{% endblock %}

{% block subheader %}
    {% if object.date_created %}
        <span itemprop="dateCreated">{{ object.date_created }}</span>
    {% endif %}
    {% if object.date_created and object.technique %},{% endif %}
    {{ object.get_technique_display }}
{% endblock %}
