{% load arttags %}
<article class="{{ model }} thumb" itemscope itemtype="{{ object.schema }}">
    <img itemprop="thumbnail" src="{{ object.image_summary.url }}" alt="{{ object.name }}"/>
    <div class="caption">
        <h4><span itemprop="name">{{ object.name }}</span>
        <small itemprop="author">{% schema_inline object.author %}</small></h4>
    </div>
</article>

