<span class="{{ model }} {{ size }}" itemscope itemtype="{{ object.schema }}">
    <span itemprop="name">{{ object.name }}</span>,
    <span itemprop="address" itemscope itemtype="{{ object.address.schema }}">
        <span itemprop="address_locality">{{ object.address.address_locality }}</span>
    </span>
</span>
