{% load markup %}
<div class="blockquote">
    <blockquote>
        {{ object.description|markdown }}
        <small><a href="{{ object.url }}" target="blank">{{ object.name }}</a></small>
    </blockquote>
</div>
