{% extends 'base.html' %}
{% load url from future %}

{% block head %}
    <title>{% block page-title %}{% endblock %} :: SITE-NAME</title>
{% endblock %}

{% block body %}
    <div class="main">
        {% block breadcrumb %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
