<!DOCTYPE html>
{% load url from future %}
{% load compress %}
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static 'artblog.less' %}">
    {% endcompress %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<header>
    {% include 'inc/nav.html' %}
</header>
{% block body %}
{% endblock %}
<footer>
</footer>
{% compress js %}
    <script src="{% static 'bootstrap/js/bootstrap-transition.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-collapse.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-dropdown.js' %}"></script>
    <script src="{% static 'artblog.js' %}"></script>
{% endcompress %}
</body>
</html>
