{% extends 'base.html' %}
{% load url from future %}

{% block body %}
    <div class="container">
        <a href="{% url 'painting-listview' %}">Paintings</a>
        <a href="{% url 'artist-listview' %}">Artists</a>
    </div>
{% endblock %}
