@import "bootstrap/less/bootstrap.less";
@import "font-awesome/less/font-awesome.less";
@import "cyborg/variables.less";
@import "cyborg/bootswatch.less";

@import "bootstrap/less/responsive-utilities.less";
@import "bootstrap/less/responsive-1200px-min";
@import "bootstrap/less/responsive-768px-979px.less";
@import "bootstrap/less/responsive-767px-max.less";
@import "bootstrap/less/responsive-navbar.less";

@FontAwesomePath: "/static/font-awesome/font";

@navbarCollapseWidth: 767px;
@maxStatic: 767px;
@minFluid: 768px;


//@import "grid-bootstrap";
@import "semantic.gs-1.2/grid.less";
@import "grid.less";

@import "mixins.less";
@import "components.less";

@import "full.less";
@import "summary.less";
@import "thumb.less";





// DEFAULT
//#custom > .grid(@gridColumnWidth, @gridGutterWidth);

// LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET
//@media (max-width: 767px) {
//  #custom > .grid(auto, 0);
//}

// PORTRAIT TABLET TO DEFAULT DESKTOP
//@media (min-width: 768px) and (max-width: 979px) {
//  #custom > .grid(@gridColumnWidth768, @gridGutterWidth768);
//}

// LARGE DESKTOP & UP
//@media (min-width: 1200px) {
//  #custom > .grid(@gridColumnWidth1200, @gridGutterWidth1200);
//}

//fixed top-nav
@media (min-width: @minFluid) {
  body {
    padding-top: 60px;
  }
}
