// block-level link for large blocks of content
.component-link {
  color: inherit;
  text-decoration: inherit;

  display: block;

  &:hover {
    color: inherit;
    text-decoration: inherit;
  }
}

// put a nice border around main images
figure {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;

  img {
    border: 1px solid @headingsColor;
    margin-bottom: 1em;
  }
}

// default header behavior
.main > h1 {
  .page-header();
  .column(12);
  margin-top: @baseLineHeight;
  margin-bottom: @baseLineHeight * 1.5;
}

// fix for https://github.com/twitter/bootstrap/issues/7968
.dropdown-backdrop {
  position: static;
}

.breadcrumb {
  .oneLine();
}

