.full {
  header {
    .page-header();
  }

  .metadata {
    display: none;
  }

  .no-image {
    .icon-4x();
    text-align: center;
    padding: .5em 0;
  }

  aside {
    ul {
      list-style-type: none;
      margin-left: 0;
    }
  }

  @media(max-width: @maxStatic) {
    aside {
      > h4 {
        margin-top: 2em;
      }
    }
  }

  @media(min-width: @minFluid) {
    .related-people,
    .related-events {
      h4 {
        // mimic h5
        font-size: @baseFontSize;
        line-height: @baseLineHeight;
        margin: 0;
      }
    }
  }

  footer {
    clear: both;
  }

  ul.links {
    display: none;
  }

  h3 {
    clear: both;
    padding: 1em 0 0;
  }

  aside {
    font-size: 90%;
    >h4 {
      margin-top: 1em;

      i {
        margin-right: 1ex;
      }
    }
    ul.links {
      display: block;
    }
  }
}


// GRID

.full {
  header {
    .column(12);
    margin-top: @baseLineHeight;
    margin-bottom: @baseLineHeight * 1.5;
  }

  .no-image,
  figure {
    .column(3);
    margin-top: 4px;
  }

  .description {
    .column(7);
  }

  .related-events {
    .column(2);
  }

  .related-paintings {
    clear: left;
    .column(4);
  }
}

.full.painting {
  figure {
    .column(6);
  }

  .metadata {
    display: block;
    float: right;
    .dl-metadata();
    margin: 0;

    dt, dd {
      float: left;
      margin-left: 0;

      &.genre, &.published {
        display: none;
      }
    }
  }

  .blockquote {
    .column(6);
  }

  .description {
    .column(6);
  }

  .additional {
    clear: left;
  }

  h3 {
    .column(12);
  }

  aside {
    .column(4);
    .well();

    padding: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;

    margin-bottom: 1em;

    >* {
      padding-left: 19px;
      padding-right: 19px;
    }

    &:nth-child(3n + 1) {
      clear: left;
    }

    .no-image, figure {
      width: 22.91%;
      float: left;
      padding: 0;
      font-size: @baseFontSize;
      margin: 4px 1ex 0 19px;
      text-align: center;

      i {
        font-size: @baseFontSize * 2;
      }
      img {
        margin: 0;
      }
    }

    .description {
      display: block;
      float: none;
      width: auto;
      margin: 0;
    }
  }
}

@media (max-width: @maxStatic) {
  .full
  {
    figure {
      margin-right: 1ex;
    }

    .description {
      display: block;
      float: none;
      width: auto;
    }

    .related-events, .related-paintings {
      .column(12);
    }
  }

  .painting.full {
    .blockquote,
    .description,
    aside,
    figure {
      .column(12);
    }

    .metadata {
      dt {
        clear: both;
      }
    }

    aside {
      .links {
        a {
          .btn();
          display: block;
          width: auto;
        }
      }
    }
  }
}
