@total-width: 100%;

.navbar-container,
.main {
  max-width: 980px;
  margin: 0 auto;
}

.navbar-container {
  padding-left: 20px;
}

body {
  padding: 0;
}

@media (max-width: @maxStatic) {
  .navbar-fixed-top {
    margin-left: 0;
    margin-right: 0;
  }
}

.breadcrumb {
  .column(12);
  padding-left: 0;
  padding-right: 0;
}
