//Generate grid below
#custom {
  .grid(@gridColumnWidth, @gridGutterWidth){   //Generate our custom grid
    //Define styles for our custom grid
    .span (@columns, @offset: 0) when(isNumber(@gridColumnWidth)){
      float: left;
      margin-left: (@gridColumnWidth * @offset) + (@gridGutterWidth * (@offset - 1)) + (@gridGutterWidth * 2);
      width: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1));
    }
    .row()  when(isNumber(@gridColumnWidth)){
      margin-left: @gridGutterWidth * -1;
      .clearfix();
    }
    //Define spans/row for small screens (with responsive mediaqueries)
    .span (@columns, @offset: 0) when(@gridColumnWidth = auto){
      float: none;
      display: block;
      width: auto;
      margin: 0;
    }
    .row() when(@gridColumnWidth = auto){
      margin-left: 0;
    }
    .up(@amount) when(isNumber(@gridColumnWidth)) {
      margin-top: @amount;
    }
    .up(@amount) when(@gridColumnWidth = auto) {
    }

    // semantic grid
    .summary {
      .with-img {
        .row();

        header {
          .span(9, 3)
        }

        figure {
          .span(3);
          .up(-1.5 * @baseLineHeight);
        }

        .description {
          .span(9);
        }
      }
    }

    .painting.full {
      figure {
        .span(6);
      }
      .blockquote,
      description {
        .span(6);
      }
    }

    .full {
      margin-left: -@gridGutterWidth;
      header {
        .span(12);
      }

      figure {
        .span(2);
      }

      .no-image {
        .span(2);
      }

      .description {
        .span(6);
      }

      .related-events {
        .span(4);
      }

      .related-paintings {
        clear: both;
        .span(4);
      }
    }
  }
}
