.unstyledList() {
  list-style: none;
  margin-left: 0;
}

.oneLine() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dl-metadata {
  dt {
    display: block;
    float: left;
    width: 1.5em;
    text-align: center;

    span {
      display: none;
    }
  }
  dd {
    display: block;
  }
}

.navPills() {
  list-style: none;
  margin-bottom: 0;
  .pull-right();

  li {
    float: left;
    a {
      display: block;

      padding: 8px 12px;
      margin: 2px 2px 0 0;
      line-height: 14px; // keeps the overall height an even number
      .border-radius(5px);

      &:hover,
      &:focus {
        text-decoration: none;
        color: @white;
        background-color: @linkColor;
      }
    }
  }

  li.disabled > a {
    color: @textColor;
  }

  .open .dropdown-toggle {
    background-color: #060606;
  }

  .dropdown-menu li > a:hover {
    border: none;
  }

  @media (max-width: @maxStatic) {
    float: none;
    margin-left: 0;

    li {
      float: none;
      .column(12);

      a {
        .btn();
        .btn-primary();
        .btn-large();
        display: block;
        width: auto;
      }

      &.permalink {
        display: none;
      }
    }
  }
}
