// STYLING
.summary {
  margin-bottom: 2em;
  .clearfix();

  h4 {
    .oneLine();
  }

  .metadata {
    display: none;
    .dl-metadata();

    dd, dt {
      .oneLine();
      font-weight: normal;
    }
  }

  .no-image {
    display: none;
  }

  footer {
    clear: both;
    .clearfix();
    border-bottom: 1px solid @grayDark;

    ul.links {
      .navPills();
    }

    .permalink {
      display: none;
    }
  }

  @media (max-width: @maxStatic) {
    margin-bottom: 4em;
  }
}


// GRID
.summary {

  &.painting {
    .metadata {
      .column(3);
      margin-top: -@baseLineHeight;
      min-height: 4 * @baseLineHeight;
    }

    &.with-img {
      h4 {
        .column(6);
        .push(6);
      }
      .description {
        .column(6);
      }
    }

    &.without-img {
      h4 {
        .column(9);
        .push(3);
      }
      .description {
        .column(9);
      }
    }
  }

  &.with-img {
    figure {
      .column(3);
      margin-top: -@baseLineHeight;
    }

    h4 {
      .column(9);
      .push(3);
    }
    .description {
      .column(9);
    }
  }

  &.without-img {
    h4 {
      .column(12);
    }
    .description {
      .column(12);
    }
  }

  footer {
    .column(12);
  }
}

@media (max-width: @maxStatic) {
  .summary,
  .summary.with-img,
  .summary.without-img,
  .summary.painting.with-img,
  .summary.painting.without-img,
  {

    &.painting {
      .metadata {
        .column(12);
        margin-bottom: 1em;
      }
    }

    h4, figure, .description {
      .column(12);
    }

    h4 {
      margin-bottom: 1em;
    }

    figure {
      text-align: center;
    }

  }
}
