.painting.thumb {
  position: relative;

  img {
    width: 100%;
  }

  .caption {
    position: absolute;
    bottom: -1px;
    left: 0;
    padding: 0 .5em;

    background-color: @grayDark;
    .opacity(70);
  }
}


